body{
display: grid;
align-items: center;
text-align: center;
text-transform:capitalize;
font-family: Arial, Helvetica, sans-serif;
background-image: linear-gradient(260deg, #ca5757, #03a9F4);
color: white;
}

ul li {
    list-style: none;
}
.note{
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
}
ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px;
}
header {
    margin: -20px -15px 0  ;
    margin-top: -20px;
    background-color: #2c3e50ab;
    width: 101.7%;
    height: 71.5px;
}
nav {
    overflow: hidden;
    margin-top: 3px;
    padding-top: 10px;
    margin-left: 400px;
}
nav .normal {
    float: left;
    width: 100px;
    display: block;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-family: 'Akshar', sans-serif;
}
nav a:hover {
    background: #ddd;
    color: rgb(0, 0, 0);
}

#logo {
    float: left;
    padding: 9px 0 9px 0;
}
#logo p {
    width: 200px;
    height: 145px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;

}
#logo p span{
    color:yellow;
}
.active{
    float: left;
    width: 100px;
    display: block;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: yellow;
    font-family: 'Akshar', sans-serif;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.project_cards {
    background-color: linear-gradient(260deg, #ca5757, #03a9F4);
    color:white;
    border: 1px solid white;
    height: 125px;
    width: 200px;
    padding :10px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project_cards:hover {
    transform: scale(1.1);
}
ul{
    margin-left:-40px;
}
.create a{
text-decoration: none;
}
.create a:hover{
text-decoration: underline;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color:#000016;
}
::-webkit-scrollbar-thumb {
    background-color: yellow;
}
.options {
    display: flex;
    gap: 5px;
    margin-right:47%;
    flex-direction: row-reverse;
}

/* from here  */

.logoutbtn{
    top: 10px;
}